.container {
  min-height: 100vh;
  display: block;
  background-color: #1b1d28;
  overflow: hidden;
}

.header {
  max-width: 100%;
  padding: 20px 0;
}

.title {
  font-size: 24px;
  color: #c4c4c4;
  text-align: center;
  font-weight: 500;
}

.main {
  max-width: 1200px;
  min-height: calc(90vh - 140px);
  display: flex;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.stylizedTitle {
  font-size: 72px;
  font-weight: bold;
  color: #1b1d28;
  position: relative;
  z-index: 100;
  text-align: center;
  display: block;
  cursor: pointer;
  flex-basis: auto;
  margin: 0;
}

.stylizedTitle::after {
  content: "";
  position: absolute;
  width: 700px;
  height: 48px;
  background-color: #c4c4c4;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform-origin: left center;
  transition: 0.4s all ease;
  cursor: default;
}

.socialLink {
  height: 32px;
  width: 32px;
  display: block;
  margin: 0 12px;
}

.footer {
  display: flex;
  justify-content: center;
}

.about.stylizedTitle::after {
  transform: rotate(-2deg) translate(-50%, -50%);
}

.about.stylizedTitle:hover::after {
  transform: rotate(-5deg) translate(-50%, -50%);
}

.work.stylizedTitle::after {
  transform: rotate(4deg) translate(-50%, -50%);
}

.work.stylizedTitle:hover::after {
  transform: rotate(7deg) translate(-50%, -50%);
}

@media (min-width: 800px) {
  .title {
    font-size: 36px;
  }

  .stylizedTitle {
    font-size: 96px;
  }

  .stylizedTitle::after {
    height: 64px;
  }
}
