.container {
  min-height: 100vh;
  display: block;
  background-color: #c4c4c4;
  padding: 0 20px;
}

.main {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
  padding-bottom: 120px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-basis: 100%;
  margin-top: 40px;
}

.leftColumn {
  display: block;
  flex-basis: 100%;
  padding: 0;
}

.rightColumn {
  display: block;
  flex-basis: 100%;
  padding: 0;
  margin-top: 32px;
}

.highlightContainer {
  background-color: #1b1d28;
  padding: 4px 32px;
}

.highlightContainerSmall {
  background-color: #1b1d28;
  padding: 0 12px;
  width: fit-content;
}

.styledH3 {
  color: #c4c4c4;
  margin: 0;
  font-size: 28px;
  font-weight: 500;
}

.styledH4 {
  color: #c4c4c4;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.imageContainer {
  width: 100%;
  box-shadow: 0px 3px 12px 4px rgba(27, 29, 40, 0.3);
}

.imageContainer iframe {
  height: 240px;
  border: none;
}

.arrowButton {
  height: 32px;
  width: 32px;
  outline: none;
  background: transparent;
  appearance: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.arrowButton.left {
  transform: rotateZ(180deg);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 40px;
  background: linear-gradient(#c4c4c400, #c4c4c4c4, #c4c4c4ee, #c4c4c4);
}

.pageNumber {
  color: #ebebeb;
  font-weight: 500;
  font-size: 36px;
  width: 100px;
  text-align: center;
  line-height: 1;
  padding-bottom: 4px;
}

@media (min-width: 600px) {
  .imageContainer iframe {
    height: 320px;
  }
}

@media (min-width: 800px) {
  .header {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .main {
    margin-top: 80px;
  }

  .pageTitle {
    font-size: 96px;
    flex-basis: auto;
    text-align: left;
  }

  .title {
    font-size: 36px;
  }

  .container {
    padding: 0 40px;
  }
  .rightColumn {
    margin: 0;
    flex-basis: 50%;
    padding-left: 32px;
  }
  .leftColumn {
    flex-basis: 50%;
    padding-right: 32px;
  }

  .styledH3 {
    font-size: 36px;
  }
  .styledH4 {
    font-size: 24px;
  }

  .imageContainer iframe {
    height: 480px;
    border: none;
  }
}
